@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --container-size: 1200px;
    --container-size-small: 576px;
  }
  html {
    @apply antialiased text-dark-grey;
  }
  h1,
  h2,
  h3 {
    @apply font-serif;
  }
  h2 {
    @apply text-xl lg:text-2xl mb-20;
  }
}

@layer utilities {
  .carousel-center {
    transform: translateX(
      calc(
        max(var(--container-size), 100vw) / 2 - calc(var(--container-size) / 2)
      )
    );
  }
  .carousel-center-small {
    transform: translateX(
      calc(
        max(var(--container-size-small), 100vw) / 2 -
          calc(var(--container-size-small) / 2)
      )
    );
  }
}
